<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="Content-Type" content="text/html">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="viewport" content="width=device-width">
    
    <link href="http://fonts.googleapis.com/css?family=Droid+Sans|Droid+Serif" rel="stylesheet" type="text/css">
    <link href="/assets/css/main.css" rel="stylesheet" type="text/css">

    {{>header-scripts}}
    
    
    <title>Assemblog: {{this.page.title}}</title>
  </head>
  <body>
    {{>site-header}}            {{! partials expression with >  (if there's nothing in the partial, throws an error)}}
    <div class="page-content">

     
      {{#unless homepage}}
      <h1>{{this.page.title}}</h1>
      <p>H1 header for all except homepage</p>
      {{/unless}}

      <h2>{{ this.page.title }}</h2> {{! expression with path to FrontMatter's 'title' value?? (in Markdown file only)}}
      {{#markdown}}           {{! Block helper for embedding markdown content inside HTML}}
        {{> body}} 
      {{/markdown}}           {{! block helper - end /}}



      <ul>
  		  {{#withSort post 'data.posted'}}
  		    {{#each this.pages }}
  		    <li><a href="{{ replaceStr this.dest 'dist' '' }}">{{ this.data.title }}</a></li>
  		    {{/each}}
  		  {{/withSort}}
  		</ul>

      <p>{{link 'link in handlebars' 'http://boo.hoo.com' }}</p>
    </div>
    {{>site-footer}}


    {{>footer-scripts}}
  </body>
</html>